*, body {
    font-family: 'Anton', cursive;
    background-color: #071729;
    color: whitesmoke;
}

/*/nawigacja/*/

nav > a {
    font-family: 'Anton', cursive;
    font-size: 1.2em;
    margin: 2vw;
    text-decoration: none;
}

nav > a:hover {
    text-decoration: line-through dotted green;
}

nav {
    background-color: #071729;
    opacity: 0.9;
    height: 5vh;
    padding-top: 1vh;
}

/*/sekcja home/*/

#home {
    height: 100vh;
    width: auto;
    background-image: url(../img/gwiazdy.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#name {
    margin-bottom: 5vh;
    background-color: transparent;
}

#frontenddev,
#designer,
#name {
    color: whitesmoke;
        background-color: transparent;

}

/*
#designer::first-letter { 
    font-size: 150%;
    color: #8A2BE2;
}
*/

#plus {
    color: green;
}

#imgmain {
    display: inline;
    padding-top: 10vh;
    padding-bottom: 5vh;
    margin: 0 auto;
    height: 55vh;
    width: auto;
        background-color: transparent;

}

/*/sekcja skills/*/

#skills {
    background-color: #071729;
    color: whitesmoke;
}

