*,
body {
    font-family: 'Anton', cursive;
    background-color: #071729;
    color: whitesmoke;
    letter-spacing: 1px;
}

/*/nawigacja/*/

nav > a {
    /*    font-family: 'Anton', cursive;*/
    /*    font-size: 1m;*/
    margin: 2vw;
    text-decoration: none;
    color: whitesmoke;
    /*    font-family: 'Raleway', sans-serif;*/
}

/*
a.nav-link: hover {
    text-decoration: line-through dotted green !impotant;
}
*/


nav {
    background-color: #071729;
    opacity: 0.9;
    height: 5vh;
    padding-top: 1vh;
}

/*/sekcja home/*/

#home {
    height: 100vh;
    width: auto;
    background-image: url(../img/gwiazdy.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#name {
    margin-bottom: 5vh;
    background-color: transparent;
}

#frontenddev,
#designer,
#name {
    color: whitesmoke;
    background-color: transparent;
}

#designer {
    color: skyblue;

}

span {
    color: #E80090;
}

#imgmain {
    display: inline;
    padding-top: 10vh;
    padding-bottom: 5vh;
    margin: 0 auto;
    height: 55vh;
    width: auto;
    background-color: transparent;

}

/*/sekcje/*/

.wholesect {
    background-color: #071729;
    color: whitesmoke;
    height: auto;
/*    min-height: 100vh;*/
    overflow: hidden;
}


h3.secttitle {
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: transparent;
    color: whitesmoke;
    font-family: 'Francois One', sans-serif;
    border-top: 1px rgba(255, 255, 255, 0.3) solid;
    padding: 5px;
}

div.sectrow {
    padding-top: 3vh;
    margin-bottom: 3vh;
    background-color: transparent;
}


p.descript {
    padding-top: 3vh;
}

img.rocketsmall {
height: 100px;
width: auto;
}

/*
@media screen and (min-device-width:500) and (max-device-width:768) {
    img.skillsimg1,
    img.skillsimg2,
    img.skillsimg3,
    img.skillsimg4,
    nav {
        background-color: aqua;
    }
}
*/
