*,
body {
    font-family: 'Anton', cursive;
    background-color: #071729;
    color: whitesmoke;
    letter-spacing: 1px;
}

/*/nawigacja/*/

#navbarNav > ul > li {
/*    margin: 1vw;*/
    text-decoration: none;
}


span {
       color: #E80090;
}

/*/sekcja home/*/

#home {
    height: 100vh;
    width: auto;
    background-image: url(../img/gwiazdy2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#name {
    margin-bottom: 5vh;
    background-color: transparent;
}

#frontenddev,
#designer,
#name {
    background-color: transparent;
}

#designer {
    color: skyblue;
}

#imgmain {
    padding-top: 10vh;
    padding-bottom: 5vh;
    height: 55vh;
    background-color: transparent;
}

/*/sekcje/*/

.wholesect {
    background-color: #071729;
    overflow: hidden;
}


h3.secttitle {
    margin-top: 10vh;
    margin-bottom: 10vh;
    color: skyblue;
    font-family: 'Francois One', sans-serif;
    border-top: 1px rgba(255, 255, 255, 0.3) solid;
    padding: 5px;

}

div.sectrow {
    padding-top: 3vh;
    margin-bottom: 3vh;
}


p.descript {
    padding-top: 3vh;
}

img.rocketsmall {
    height: 100px;
    width: auto;
    min-height: 40px;
}

/*
ul, li {
    text-align:left;
    list-style-type: none;
    cursor: pointer;
}
*/
